/* styles.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.navbar-navbar {
    background-color: #fff;
    color: #000;
    padding: 10px 0;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img {
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex !important;
}
.nav-links li {
    margin-left: 2rem;
}
.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.signup-button a {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.signup-button a:hover {
    background-color: #0056b3;
    color: #fff;
}

#main, #services, #brilliance, #steps, #customers, #subscribe{
    padding: 40px;
}
.main-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30PX;
}
.top-main, .bottom-main{
    display: flex;
    justify-content: space-between;
}
.bottom-main{
    padding-right: 40px;
}
.top-title h1{
    font-size: 4rem;
    margin-bottom: 15px;
}
.top-title p{
    font-size: 1rem;
    width: 70%;
    line-height: 1.5rem;
}
.bottom-btn-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bottom-btn-area button{
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 10px;
    cursor: pointer;
    background-color: #1F1F1F;
    color: #fff;
    max-width: 50%;
}
.counters{
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    gap: 20PX;
}
.counters h4{
    font-size: 2rem;
}
.bottom-img{
    position: relative;
}
.img2-before{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -5%;
    left: -3%;
    border: 1px solid black;
    z-index: -1;
}
.img2-after{
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: -40px;
    background-color: #1F1F1F;
    text-align: center;
    cursor: pointer;
}
.img2-after i{
    font-size: 3rem;
    margin-top: 20%;
    color: #fff;
}


.services-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.services-title{
    margin-left: 10%;
    font-size: 3rem;
    margin-bottom: 50px;
}
.services-title::before{
    content: "----------";
    letter-spacing: -10px;
    margin-right: 20px;
    font-weight: lighter;
}
.service{
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.service i{
    font-size: 3rem;
}

.brilliance-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}
.brilliance-img, .brilliance-content{
    width: 45%;
}
.brilliance-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.brilliance-content h4{
    font-size: 2rem;
}

.brilliance-img img{
    max-width: 100%;
}
.brilliance-btn{
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 10px;
    cursor: pointer;
    background-color: #1F1F1F;
    color: #fff;
    max-width: 50%;
}


.steps-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 4%;
}
.steps-content h4{
    font-size: 2rem;
    margin-bottom: 20px;
}
.steps-img img{
    max-width: 100%;
}
.steps-steps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
}
.step{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.step-icon i{
    font-size: 1rem;
    padding: 20px;
    background-color: #1F1F1F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.after-icon{
    width: 1px;
    height: 50%;
    border: 1px solid #3333332f;
    margin: 50% auto;
    background-color: #3333332f;
}


.customers-container{
    width: 80%;
    margin: auto;
}
.customers-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.customers-title{
    padding: 10px;
    text-align: center;
}
.customers-title h4{
    font-size: 2rem;
    font-weight: bold;
}
.customers-opinion{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.customers-btns{
    display: flex;
    justify-content: flex-start;
    gap: 8%;
    flex: 1;
    height: fit-content;
}
.customers-btns button{
    background-color: #F1F1F1;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
}
.customer-one{
    flex: 1.7;
    background-color: #1F1F1F;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -45%;
}
.customer-info{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


#subscribe {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    width: 50%;
    margin: 20px auto -5% auto;
}
.subscribe-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}
.subscribe-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}
.subscribe-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.subscribe-form button:hover {
    background-color: #555;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.logo-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.footer-section p, .footer-section ul, .footer-section li, .footer-section a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.socials a {
    margin-right: 10px;
}
.socials i{
    font-size: 2rem;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.scroll-to-top:hover {
    background-color: #0056b3;
}











/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
        justify-content: center;
        /* align-items: stretch; */
        padding: 10px;
        text-align: center;
    }
    .nav-links {
        margin-top: 1rem;
        flex-direction: column;
    }
    .nav-links li {
        margin: 0;
        text-align: center;
    }
    .signup-button {
        margin-top: 1rem;
        text-align: center;
    }
    .signup-button a {
        padding: 8px 16px;
    }
    .main-container {
        width: 100%;
        padding: 20px;
        /* flex-direction: column; */
    }
    .top-title h1 {
        font-size: 2rem;
    }
    .top-title p {
        font-size: 0.9rem;
        width: 100%;
    }
    .bottom-main, .top-main {
        flex-direction: column;
        padding-right: 20px;
    }
    .bottom-btn-area button,
    .brilliance-btn {
        max-width: 100%;
    }
    .services-container,
    .brilliance-container,
    .steps-container,
    .customers-container {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }
    .service {
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .brilliance-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .steps-container {
        flex-direction: column;
        gap: 20px;
    }
    .steps-steps {
        min-height: auto;
    }
    .step {
        /* flex-direction: column; */
        gap: 20px;
    }
    .customers-container {
        padding: 20px;
    }
    .customers-img{
        flex-direction: column-reverse;
    }
    .customers-opinion{
        flex-direction: column-reverse;
        gap: 10%;
        margin-left: 35%;
        margin-top: -75%;
    }
    .non-mob{
        display: none;
    }
    .customer-one {
        margin-top: 0;
        
    }
    #subscribe {
        width: 80%;
        padding: 30px 10px;
        margin: 20px auto;
    }
    .subscribe-section h2 {
        font-size: 1.5rem;
    }
    .subscribe-section p {
        font-size: 1rem;
    }
    .subscribe-form input {
        width: 100%;
    }
    .footer-content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .footer-section {
        min-width: auto;
        margin: 0;
    }
}

/* Tablets and larger devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar-container {
        padding: 15px 30px;
    }
    .nav-links {
        margin-top: 0;
        flex-direction: row;
    }
    .nav-links li {
        margin: 0 1rem;
    }
    .signup-button {
        margin-top: 0;
        text-align: center;
    }
    .signup-button a {
        padding: 10px 20px;
    }
    .main-container {
        padding: 40px;
    }
    .top-title h1 {
        font-size: 3.5rem;
    }
    .top-title p {
        font-size: 1rem;
        width: 80%;
    }
    .bottom-main {
        padding-right: 40px;
    }
    .bottom-btn-area button,
    .brilliance-btn {
        max-width: 50%;
    }
    .services-container,
    .brilliance-container,
    .steps-container,
    .customers-container {
        padding: 40px;
    }
    .service {
        width: 30%;
        margin-bottom: 0;
    }
    .brilliance-container {
        gap: 2%;
    }
    .steps-container {
        gap: 4%;
    }
    .steps-steps {
        min-height: 80%;
    }
    .step {
        gap: 50px;
    }
    .customers-container {
        padding: 0;
    }
    #subscribe {
        padding: 50px 20px;
        width: 50%;
        margin: 20px auto -5% auto;
    }
    .subscribe-section h2 {
        font-size: 2rem;
    }
    .subscribe-section p {
        font-size: 1.2rem;
    }
}

/* Large screens and up */
@media only screen and (min-width: 1025px) {
    .navbar-container {
        padding: 20px 40px;
    }
    .nav-links {
        margin-top: 0;
        flex-direction: row;
    }
    .nav-links li {
        margin: 0 1.5rem;
    }
    .signup-button {
        margin-top: 0;
    }
    .signup-button a {
        padding: 12px 24px;
    }
    .main-container {
        width: 80%;
        padding: 40px;
    }
    .top-title h1 {
        font-size: 4rem;
    }
    .top-title p {
        font-size: 1rem;
        width: 70%;
    }
    .bottom-main {
        padding-right: 40px;
    }
    .bottom-btn-area button,
    .brilliance-btn {
        max-width: 50%;
    }
    .services-container,
    .brilliance-container,
    .steps-container,
    .customers-container {
        padding: 40px;
    }
    .service {
        width: 30%;
        margin-bottom: 0;
    }
    .brilliance-container {
        gap: 2%;
    }
    .steps-container {
        gap: 4%;
    }
    .steps-steps {
        min-height: 80%;
    }
    .step {
        gap: 50px;
    }
    .customers-container {
        padding: 0;
    }
    #subscribe {
        padding: 50px 20px;
        width: 50%;
        margin: 20px auto -5% auto;
    }
    .subscribe-section h2 {
        font-size: 2rem;
    }
    .subscribe-section p {
        font-size: 1.2rem;
    }
}